// Colores
$white: rgba($color: #FFFFFF, $alpha: 1);
$black: rgba($color: #000000, $alpha: 1);
$lightblue: rgba($color: #EBF5F0, $alpha: 1);
$yellow: rgba($color: #FECA1B, $alpha: 1);
$red: rgba($color: #EF5350, $alpha: 1);
$blue: rgba($color: #3761A8, $alpha: 1);
$darkblue: rgba($color: #263238, $alpha: 1);
$accent-light: rgba($color: #2ad1a6, $alpha: 1);
$accent-dark: rgba($color: #278970, $alpha: 1);

// Fuentes
$pixel-gameboy: 'Press Start 2P', cursive;
$roboto: 'Roboto', sans-serif;